

.primer-container{
    height: 4rem;
    width: 100%;
    display: flex; 
    gap: 5rem;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(255, 236, 200);

}

.button-container{
    background-color: rgb(1, 4, 15);
    color: rgb(255, 236, 200);
    border-radius: 0.2%;
    align-items: center ;
}


@media only screen and (max-width: 1200px){
    .primer-container {
      display: none;
    }
    .button-container{
        display: none;
    }
}

