.card{
    text-align: center;
    display: flex;
    opacity: 1;
    transition: 0.5s;
}

.cards{
 
    display: grid;
     
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            25rem,
            1fr
        )
    );
     
    grid-auto-rows: auto;
     
    gap: 0.24rem;     

} 

.cards :hover{
    opacity: 0.8;
}

.img-detail{
    width: 100%;
}

.detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem;
}

.table-light{
    padding: 2rem;
    gap: 2rem;
}

.card-detail{
    border: 1px solid rgb(4, 4, 61);
}