.home{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-decoration: none;
  }

  .bird-home{
      width: 100%;
      height: 80vh;
      grid-column: 1;
      grid-row: 1;
      object-fit: cover;
  }

  .home-p{
      background-color: rgba(2, 2, 26, 0.521);
      grid-column: 1;
      grid-row: 1;
      margin-bottom: 0;

      color: #fff;font-size: 2.5rem;
      font-family: Arial, Helvetica, sans-serif;

      display: grid;
      text-align: center;
      place-items: center;

      transition: 1s;  
      clip-path: circle(35% at top left);
  }

  .home:hover .home-p{
    
    transform: translate3d(100%);
    clip-path: circle(150% at top left);
  }

  
  @media only screen and (max-width: 768px){
    .home{
      height: 100vh;
    }
    .bird-home{
      height: 100%;
      object-fit: cover;
    }
    .home-p{
      height: 100%;
      clip-path: circle(150% at top left);
    }
  }
  
