*,
*::after, 
*::before{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62%;
}
body{
    font-size: 1.6rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #a9a8a9;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background: rgb(2, 14, 48);
}

.marca{
    text-transform: uppercase;
    font-weight: bold;
}

.nav-menu{
    color: #a9a8a9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

