*,
*::after, 
*::before{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62%;
    font-family: Helvetica, sans-serif;
}
body{
    font-size: 1.6rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(255, 236, 200);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background: rgb(1, 4, 15);
}

.marca{
    text-transform: uppercase;
    font-weight: bold;
}

.nav-menu{
    color: rgb(255, 236, 200);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

/* .item-list {
    height: 50vh;
    width: 50vh;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 2px solid;
    margin-bottom: 20px;
    background-size: cover;
  } */

  .button{
    border-radius: 5vh;
    width: 8vh;
    height: 8vh;
    background-color: rgb(255, 236, 200);
    text-transform: uppercase;
  }