/*


*,
*::after, 
*::before{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 63%;
    font-family: sans-serif;
}
body{
    font-size: 1.6rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(255, 236, 200);
}

.logo-nav{
    width: 10rem;
  }


.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10rem;
    background: rgb(1, 4, 15);
}

.marca{
    text-transform: uppercase;
    font-weight: bold;
}

.nav-menu{
    color: rgb(255, 236, 200);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.cards{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.item-list {
    height: 25rem;
    width: 42rem;
    border-radius: 5vh;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    border: 3px solid rgb(1, 4, 15);
    margin: 2.5rem;
    background-color: rgb(255, 236, 200);
    background-size: cover;
}

.button{ 
    color: rgb(236, 234, 234);
    background-color: rgb(1, 4, 15);
    display: flex;
    width: 8rem;
    height: 3.5rem;
    text-transform: uppercase;
    border-radius: 0.4vh;
    margin: 3vh;
}

*/
