.final_cart {
    display: flex;
    flex-direction: column;
    align-items: center ;
    text-align: center;
    margin-top: 3rem;
}

.container__img{
    width: 100%;
}

.container__info{
    margin: 10px auto;
}

.final-price{
    color: rgb(243, 220, 178);
    background: rgb(4, 4, 39);
}



@media only screen and (max-width: 768px){
    .container__img{
        width: 20rem;
    }
}
